*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to right, #3494e6, #ec6ead); */
    background-image: url(weather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #222;
    font-size: 1rem;
}



.converter{
    background-color: rgba(255,255,255,0.7);
    min-width: 320px;
    padding: 20px 25px 45px;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -5px -5px 250px 0 rgba(255,255,255,0.02);
    backdrop-filter: blur(21px);
}

.mobile{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 700;
    align-items: center;
    margin-bottom: 2.2rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.title i{
    font-size: 1.8rem;
    font-weight: 700;
}

.input-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    margin-bottom: 1.2rem;
    
}

.input-field input{
    font-size: 1.2rem;

}

.degree-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 1.2rem;
    width: 92%;
}

.temp-field{
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}

label{
    color: #555;
    font-size: 1rem;
    font-weight: bold;
}

input{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(170, 161, 161);
    width: 75%;
    padding: 0.5rem;
}

input:focus{
    border: 1px solid #4c49f3;
}

select{
    padding: 0.5rem;
}
option{
    background-color: #3c39e7;
    color: #f6f6f6;

}

.temp-field label{
    margin-top: 0.5rem;    
}

.result-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    margin-bottom: 2rem;
}

.result-field input{
    font-size: 1.3rem;
    font-weight: bold;
}

#convert-btn{
    width: 60%;
    margin: auto;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, #3633f3, #120fb9);
    color: #f6f6f6;
    padding: 12px 80px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

#convert-btn:hover{
    background: linear-gradient(to bottom, #4a47e7, #322fda)
}

/* Adding Responsiveness */
@media (width<320px){
    .converter{
       max-width: 250px;
       padding: 15px 20px 22px;
       background-color: rgba(255,255,255,0.9);
    }

    .mobile{
        font-size: 0.8rem;
        margin-bottom: 1.8rem;
    }

    .title{
        display:inline-block;
        font-size: 0.7rem;
        margin-bottom: 1.8rem;
    }

    .title i{
        font-size: 1rem;
    }

    label{
        font-size: 0.7rem;
    }

    .input-field input{
        font-size: 0.9rem;
    }

    .input-field{
        margin-bottom: 1.2rem;
    }

    .degree-type{
        display: flex;
        gap:8px;
        align-items: flex-start;
        margin-bottom: 1.2rem;

    }

    .result-field{
        margin-top: 0;
        margin-bottom: 1.2rem;
    }

    #convert-btn{
        width: 40%;
        text-align: center;
        padding: 10px 20px;
    }
}

@media (width<420px){
    .converter{
       max-width: 320px;
       padding: 20px 23px 22px;
       background-color: rgba(255,255,255,0.9);
    }

    .mobile{
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .title{
        display:inline-block;
        font-size: 0.7rem;
        margin-bottom: 1.8rem;
    }

    .title i{
        font-size: 1.1rem;
    }

    label{
        font-size: 0.8rem;
    }

    .input-field input{
        font-size: 1rem;
    }

    .input-field{
        margin-bottom: 1.2rem;
    }

    .degree-type{
        display: flex;
        gap:8px;
        align-items: flex-start;
        margin-bottom: 1.2rem;

    }

    .result-field{
        margin-top: 0;
        margin-bottom: 1.2rem;
    }

    #convert-btn{
        width: 50%;
        text-align: center;
        padding: 10px 20px;
    }
}
